<div>
  <p>半角スペースと　全角スペースの　テスト</p>
  <p>Hello　World　これは　テストです</p>
  
  {% comment %}
    全角スペース　を含む　コメント
  {% endcomment %}
  
  <div class="test">
    日本語の　文章で　全角スペースを　使用します。
    This has normal spaces between words.
    Mixed　content with　both types　of spaces.
  </div>
  
  <ul>
    <li>アイテム　1</li>
    <li>アイテム　2</li>
    <li>Item 3 with normal spaces</li>
  </ul>
</div>
